NODE_ENV=development
PORT=3010
PROFILE_PATH=
TEAMS_FLOW_URL=

HOUSING_QUERY=affordable housing
HOUSING_QUERIES=apartment,rental,waitlist open,voucher
MAX_RENT=2800
MIN_BEDROOMS=1

POSITIVE_SCORE_MIN=50
MIN_PROFILE_KEYWORD_HITS=1

HTTP_RETRY_ATTEMPTS=3
HTTP_RETRY_BASE_MS=1000
