NODE_ENV=development
PORT=3010
PROFILE_PATH=
TEAMS_FLOW_URL=

HOUSING_QUERY=Arcata studio one bedroom apartment condo house rental
HOUSING_QUERIES=Arcata,Eureka,McKinleyville,Humboldt,studio,1 bedroom,one bedroom,1br,apartment,condo,house,rental,affordable housing,section 8,voucher
HOUSING_REGION_LABEL=Arcata / Humboldt County area
MIN_RENT=500
MAX_RENT=1000
REQUIRE_RENT=1
MIN_BEDROOMS=0
MAX_BEDROOMS=1
MIN_BATHROOMS=0
MAX_BATHROOMS=0

POSITIVE_SCORE_MIN=45
MIN_PROFILE_KEYWORD_HITS=0

HTTP_RETRY_ATTEMPTS=3
HTTP_RETRY_BASE_MS=1000
